<!DOCTYPE html>
<html>
 <head>
   <title>OAuth 2.0 Implementation</title>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
 </head>
 <body>
    <div class="typewriter">
      <div class="typewriter-text">OAuth 2.0 Implementation Page</div>
    </div>
    <h4> Press on the link below to get redirected to the OAuth process =D </h4>
   <form method="POST" action="/">
     <div >
       <button class="button" type="submit">Submit</button>
     </div>
   </form>
 </body>
</html>
